**/.DS_Store
data/wiki_opinion
**.pickle
index/
.vscode/
coreference/conll-2012
coreference/conll_jsonlines
__pycache__
data/wiki_opinion.backup
# data/
*.error
*.out
*.log
wikipedia/
htcondor/docker_stderror
